.u-block-df5f-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 10px;
}

.u-block-df5f-3 {
  position: absolute;
  left: 0;
}

.u-block-df5f-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-df5f-3 {
    width: 45px;
    height: 45px;
  }

  .u-block-df5f-4 {
    width: 45px;
    height: 45px;
  }
}

.u-section-1-1 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1-1 .u-image-1 {
  object-position: 75% 50%;
  width: 570px;
  height: 523px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px 0 0 auto;
}

.u-section-1-1 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6rem;
  animation-timing-function: linear;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -376px 428px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  animation-timing-function: linear;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 428px 0 0;
}

.u-section-1-1 .u-text-3 {
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 400;
  animation-timing-function: linear;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 670px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1-1 .u-image-1 {
    width: 470px;
    height: 431px;
    margin-top: 135px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: -344px;
    margin-right: 228px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 470px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-image-1 {
    width: 360px;
    height: 330px;
    margin-top: 186px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: -269px;
    margin-right: 8px;
    font-size: 4.5rem;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 8px;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1-1 .u-image-1 {
    width: 305px;
    height: 280px;
    margin-top: 308px;
    margin-right: auto;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: -488px;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1-1 .u-image-1 {
    width: 261px;
    height: 240px;
    margin-top: 267px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -427px;
    margin-right: -11px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1-2 .u-image-1 {
  object-position: 75% 50%;
  width: 570px;
  height: 523px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px 0 0 auto;
}

.u-section-1-2 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -375px 428px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0 428px 0 0;
}

.u-section-1-2 .u-text-3 {
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 13px 670px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1-2 .u-image-1 {
    width: 470px;
    height: 431px;
    margin-top: 135px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: -344px;
    margin-right: 228px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 470px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    width: 360px;
    height: 330px;
    margin-top: 186px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: -269px;
    margin-right: 8px;
    font-size: 4.5rem;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 8px;
  }

  .u-section-1-2 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1-2 .u-image-1 {
    width: 306px;
    height: 281px;
    margin-top: 317px;
    margin-right: auto;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: -498px;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1-2 .u-image-1 {
    width: 263px;
    height: 242px;
    margin-top: 264px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -425px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 12px;
  }
}

.u-section-1-3 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1-3 .u-image-1 {
  object-position: 75% 50%;
  width: 570px;
  height: 523px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px 0 0 auto;
}

.u-section-1-3 .u-text-1 {
  font-family: Oswald, sans-serif;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -376px 428px 0 0;
}

.u-section-1-3 .u-text-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 428px 0 0;
}

.u-section-1-3 .u-text-3 {
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 670px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1-3 .u-image-1 {
    width: 470px;
    height: 431px;
    margin-top: 135px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: -344px;
    margin-right: 228px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 470px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-image-1 {
    width: 360px;
    height: 330px;
    margin-top: 186px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: -269px;
    margin-right: 8px;
    font-size: 4.5rem;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 8px;
  }

  .u-section-1-3 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1-3 .u-image-1 {
    width: 305px;
    height: 280px;
    margin-top: 295px;
    margin-right: auto;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-top: -475px;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1-3 .u-image-1 {
    width: 262px;
    height: 241px;
    margin-top: 266px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -426px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 797px;
}

.u-section-2 .u-shape-1 {
  height: 493px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  width: 822px;
  font-weight: 700;
  margin: -435px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 42px auto 55px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 109px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0);
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 398px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 18px 9px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 138px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 105px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 431px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 42px auto 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 18px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 732px;
  }

  .u-section-2 .u-shape-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 65px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 90px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 328px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 114px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 355px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 828px;
  }

  .u-section-2 .u-shape-1 {
    height: 469px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    font-size: 3.4375rem;
    margin-top: -409px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -325px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 175px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 133px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1212px;
  }

  .u-section-2 .u-shape-1 {
    height: 703px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3rem;
    margin-top: -643px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -338px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 263px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1302px;
  }

  .u-section-2 .u-shape-1 {
    height: 726px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    margin-top: -666px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -344px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-layout-cell-3,
.u-section-2 .u-layout-cell-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-layout-cell-6,
.u-section-2 .u-layout-cell-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6.hover {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  min-height: 1036px;
}

.u-section-3 .u-shape-1 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 700;
  margin: -195px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 70px auto 53px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 794px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-4 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-5 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-5 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-6 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-6 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 655px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1129px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-6,
.u-section-3 .u-list-item-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 831px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  width: 345px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 51px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 39px auto 31px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 220px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 16px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 219px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 452px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 300;
  margin: 45px 259px 0 0;
}

.u-section-4 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 457px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 89px 0 0;
}

.u-section-4 .u-map-1 {
  width: 510px;
  height: 296px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 373px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 159px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 377px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-map-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 49px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-map-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}